.feature {
  @include media-query("md") {
    &__header {
      margin-top: 40px;
    }
  }
}

.grants {
  &__container {
    overflow: hidden;
  }

  &__list-card {
    display: flex;
    gap: 16px;

    &:first-child {
      margin-left: 24px;
      margin-right: 24px;
    }
  }
}
