.news {
  &--title {
    position: relative;
  }

  &--title-sparkle {
    position: absolute;
    right: 0;
    transform: translateX(calc(100% - 8px));
    top: calc(-100% + 8px);
    width: 29px;
    height: 28px;
    @include media-query("md") {
      top: calc(-100% + 20px);
    }
  }

  &-blog {
    &__list-card {
      display: flex;
      flex-wrap: wrap;
      @include media-query("md") {
        gap: 16px;
        & > .card {
          flex-basis: calc(50% - 16px);
        }
      }
    }
  }
}
