.question {
  &--title-ext {
    position: relative;
  }

  &--sketch-oval {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    & > img {
      scale: 1.2;
      @include media-query("md") {
      }
    }
  }
}
