.badge {
  @include text-paragraph-md;
  padding: 4px 16px;
  border-radius: 100px;
  background-color: $color-bg-primary;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &--brand {
    background-color: $color-accent-brand;
  }

  &--success {
    background-color: $color-accent-green;
  }

  &--secondary {
    background-color: $color-bg-secondary;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    &--left {
      margin-right: 8px;
    }

    &--right {
      margin-left: 8px;
    }
  }

  &--lg {
    @include text-label;
    padding: 10px 12px;
  }
}
