.download {
  position: relative;
  &__img {
    border-radius: 16px;
    border: 1px solid $color-border;
  }

  &__desc {
    @include text-paragraph-md;
    @extend .mt-4;
  }

  &__btn-float {
    position: absolute;
    padding: 12px;
    top: 16px;
    right: 16px;
    border-radius: 100%;
    background-color: $color-bg-img;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}
