.tabs {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  margin-left: 24px;
  list-style-type: none;
  &-container {
    display: flex;
    position: relative;
    flex: 1;
    overflow-x: auto;
    white-space: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }

    @include media-query("md") {
      justify-content: center;
    }
  }

  &__tab {
    @include text-label;
    flex-basis: 0;
    transition: background-color 0.3s ease;
    padding: 10px 16px;
    border-radius: 7.3px;
    display: inline-block;
    cursor: pointer;
    &.tab {
      &--active {
        background-color: $color-bg-secondary;
      }
    }
    &:hover {
      background-color: $color-bg-secondary;
    }
  }

  &__next {
    right: 0;
    top: 0;
    position: absolute;
    &:hover {
      background-color: transparent !important;
    }
    @include media-query("md") {
      display: none;
    }
  }
}
