* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-circular;
  @include text-paragraph-md;
  background: $color-bg-net;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}

a {
  @include text-link-lg;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  background: none;
}

.container {
  max-width: 540px;
  padding: 0 24px;
  margin: 0 auto;
  $widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
  );

  @each $key, $value in $widths {
    &--#{$key} {
      max-width: $value;
    }
  }

  &--fluid {
    max-width: none;
  }
}

.icon-xs {
  width: 16px;
  height: 16px;
}
